* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 80%;
}
.app {
  display: flex;
}
main div h1 {
    text-align: center;
}
aside.primary-aside {
  width: 200px;
}

aside.primary-aside a.active {
    font-weight: bold;
}

main {
  flex: 1;
}
.logo {
    width: 16%;
    display: inline-block;
    float: left;
}
.logo::after, .logo::before {
    content: '';
    clear: both;
    display: block;
}
#box-logo {
    position: relative;
    margin: 30px auto;
    height: 20em;
}
#logo {
    width: 40%;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
#logo2 {
    width: 48.5%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.nav-wrapper div ul li{
    float: right;
}
.nav-wrapper div ul {
    display: block;
    margin: 0 auto;
    width: 80%;
}
.nav-wrapper {
    padding-left: 10%;
}
nav ul a:hover {
    background-color: greenyellow;
    color: black;
}
.active-button {
    background: gold;
    color: black;
}
.searchInput {
    text-align: center;
}
.w100of-box {
    height: 15em;
    display: block;
    margin: 10px auto;
}
.listApi div {
    vertical-align: top;
}
.bold {
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.full-description {
    display: none;
}
.btn-more {
    display: block;
    margin: 5px auto;
}
.sn-links:hover {
    transform: scale(1.1) rotate(0.5turn);
}
.contact-form {
    display: block;
    margin: 10px auto;
}
.contact-form div {
    width: 100%;
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}
.input-field .prefix.active, label.active {
    color: #2196f3;
}

.material-icons-content {
    font-size: 1.5rem;
    color: white;
    position: relative;
    border-radius: 50%;
    padding: 5px;
    margin: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

.material-icons-content:after {
    content: "";
    width: 100%;
    height: 100%;
    border: solid 2px;
    transform: scale(0.8);
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.material-icons-content:hover:after {
    transform: scale(1);
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

.material-icons-content:nth-of-type(4) {
    background-color: #88b999;
}

.material-icons-content:nth-of-type(4):hover {
    color: #88b999;
}

.material-icons-content:nth-of-type(4):after {
    border-color: #88b999;
}

.material-icons-content:nth-of-type(5) {
    background-color: #88b2b9;
}

.material-icons-content:nth-of-type(5):hover {
    color: #88b2b9;
}

.material-icons-content:nth-of-type(5):after {
    border-color: #88b2b9;
}

.material-icons-content:nth-of-type(6) {
    background-color: #8897b9;
}

.material-icons-content:nth-of-type(6):hover {
    color: #8897b9;
}

.material-icons-content:nth-of-type(6):after {
    border-color: #8897b9;
}

.material-icons-content:nth-of-type(7) {
    background-color: #af88b9;
}

.material-icons-content:nth-of-type(7):hover {  color: #af88b9;
}

.material-icons-content:nth-of-type(7):after {  border-color: #af88b9;
}

.material-icons-content:nth-of-type(8) {  background-color: #d59acb;
}

.material-icons-content:nth-of-type(8):hover {  color: #d59acb;
}

.material-icons-content:nth-of-type(8):after {  border-color: #d59acb;
}

.material-icons-content:nth-of-type(1) {  background-color: #cd8484;
}

.material-icons-content:nth-of-type(1):hover {  color: #cd8484;
}

.material-icons-content:nth-of-type(1):after {  border-color: #cd8484;
}

.material-icons-content:nth-of-type(2) {  background-color: #ec9f83;
}

.material-icons-content:nth-of-type(2):hover {  color: #ec9f83;
}

.material-icons-content:nth-of-type(2):after {  border-color: #ec9f83;
}

.material-icons-content:nth-of-type(3) {
    background-color: #cdb274;
}

.material-icons-content:nth-of-type(3):hover {
    color: #cdb274;
}

.material-icons-content:nth-of-type(3):after {
    border-color: #cdb274;
}

.material-icons-content:hover {
    background-color: transparent;
    transform: rotate(90deg);
    cursor: pointer;
    box-shadow: none;
}
